{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <h1>IT Shop</h1>

    <div class="cards-wrapper">
        <div class="cards-grid">
            {% for produit in produits %}
                <div class="card">
                    {% set image = 'images/' ~ produit.image %}
                    <img 
                        src="{{ asset(image) }}" 
                        class="card-thumbnail" 
                        alt="Image de {{ produit.designation }}"
                    />

                    <div class="card-text">
                        <h3 class="product-designation">
                            {{produit.designation}}
                        </h3>
                    </div>

                    <div class="card-footer">
                        <div class="card-footer-main">
                            {{produit.prix}} €

                            <a href="{{ path('app_favori', {'id': produit.id}) }}" class="favorite-btn">
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <svg 
                                        xmlns="http://www.w3.org/2000/svg" 
                                        width="24" 
                                        height="24" 
                                        viewBox="0 0 24 24" 
                                        fill="none" 
                                        stroke="currentColor" 
                                        stroke-width="2"
                                    >
                                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
                                    </svg>

                                {% else %}
                                    {% if produit in app.user.produits %}
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            width="24" 
                                            height="24" 
                                            viewBox="0 0 24 24" 
                                            fill="currentColor"
                                        >
                                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                        </svg>
                                    {% else %}
                                        <svg 
                                            xmlns="http://www.w3.org/2000/svg" 
                                            width="24" 
                                            height="24" 
                                            viewBox="0 0 24 24" 
                                            fill="none" 
                                            stroke="currentColor" 
                                            stroke-width="2"
                                        >
                                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
                                        </svg>
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# <div class="clickable-card">
        <h2>Carte cliquable</h2>

        <img 
            src="{{ asset('images/case05-map.jpg') }}"
            alt="Carte interactive IT Shop"
            usemap="#itshop-map"
            class="clickable-card-image" 
        />

        <map name="itshop-map">
            <area shape="rect" coords="680,1180,1107,1270" href="https://www.ldlc.com/fiche/PB00656140.html?gad_source=1&gad_campaignid=23500164385&gclid=Cj0KCQjwv-LOBhCdARIsAM5hdKdh_PFt3KRuhlog6m9hId3MTYpvvb58iRPJUuHG3_2-74Ebh4NeiJoaAlvbEALw_wcB" alt="Alimentation Corsair RM750x" title="Aller au produit">
        </map>
    </div> #}
{% endblock %}
