<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width initial-scale=1"/>

        <title>{% block title %}IT Shop - {% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}
    </head>

    <body>
        <nav>
            <a class="logotype" href="{{ path("app_home") }}">IT Shop</a>
            
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_home") }}">Home</a>
                </li>

                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_login") }}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_register") }}">Sign Up</a>
                    </li>
                {% else %}
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_liste_favoris") }}">Favorites</a>
                    </li> #}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("app_logout") }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {% block body %}IT Shop{% endblock %}

        {% block javascript %}{% endblock %}
    </body>
</html>